body {
	font-family: 'Dosis', sans-serif; 
	background-color: grey;
	width: 100%;
	height: 100%;
}

h3 {
	font-family: 'Dosis', sans-serif; 
}

#author {
	font-style: italic;
	font-size: 14px;
}

#lights_container {
	position:relative;
}

#gallery_content {
	vertical-align: top;
}

#lights_img {
	border-width: 0px;
	z-index: 1; 
	position: relative;
	width: 100%; 
	height: 50%;
}

#gallery_container {
	z-index: 1;
	position: absolute;
	width: 300px;
	color: white;
	left: 50%;
	top: 125px;
	transform: translate(-50%, 0)
}

#main_container {
	width: 524px; 
}

#content_text_container {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 150px;
	text-align: justify;
	color: #c4c4c4;
	font-size: 14px;
	overflow: scroll; 
}

#menubar {
	margin-top: 10px;
}

#container {
	display: -webkit-flex;
 	display: flex;
	width: 95%;
	margin: auto;
}

#container-item {
	width: 50%;
	margin-left: 5px;
	margin-right: 5px;
}

#parent_container {
	flex: 1 0 auto;
}

/* Style the list */
ul.breadcrumb {
    padding: 0px 0px;
    list-style: none;
   
    font-size: 20px;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {

    text-decoration: underline;
}

#card-margin-top {
	margin-top: 10px;
}

#card-margin-top-bottom {
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer {
  background: #4b4b4b; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#4b4b4b, #5a5a5a, #4b4b4b); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#4b4b4b, #5a5a5a, #4b4b4b); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#4b4b4b, #5a5a5a, #4b4b4b); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#4b4b4b, #5a5a5a, #4b4b4b); /* Standard syntax */
  /*box-shadow: 0px -2px 5px #4b4b4b;*/
}